<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <ul class="flex col gap-2 text-align">
      <li class='user flex'>
        <div class='photo border'>
        <%= if @user.photo
          image_tag (@user.photo)
          else
        text_field_tag (@user.photo)
        end %>
        </div>
        <div class='user-info flex border users-info align padding-2'>
          <h2><%= @user.name %></h2>
          <p class="to-left margin-top">Number of Posts: <%= @user.posts_counter %></class=>
        </div>
      </li>
      <li class="border max-width bio">
        <h4 class="margin-bottom">Bio</h4>
        <p><%= @user.bio %></p>
      </li>
      <li>
        <% @user.recent_posts.each do |post|%>
          <%= link_to user_post_path(@user, post) do %>
            <section class='post max-width flex col border'>
              <div class="link">
              <p>Post <%=post.id %></p>
            </div>
              <div class="flex">
                <p><%=post.text %></p>
                <div class="to-left flex">
                  <p>comments: <%=post.comments_counter %>,</p>
                  <p>likes: <%=post.likes_counter %></p>
                </div>
              </div>
            </section>
          <% end %>
        <%end%>
      </li>
     <a class="border all-posts flex" href="<%= user_posts_path(@user) %>">see all posts</a>
    </ul>
  </body>
</html>
