<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>New Post</h1>
    <%= form_with url: user_posts_path,model: @post,method: :post, local: true,scope: :post do |f| %>


      <div>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </div>

  <%= f.submit "Add post" %>

    <% end %>
</body>
</html>
